# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C caches and assets
.pytest_cache/
.tox/
.coverage
.cache
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# Logging
logs/*.log
*.log

# Project-specific / user text files
my-email.txt

# Editor / IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
